body {
    font-family: Arial, sans-serif;
    background-color: #e1a0a0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a75b5b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

form {
    text-align: left;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #2b1d18;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #030a11;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #fd1b1b;
}
